nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Logo
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.float-right
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          i.fa.fa-shopping-cart(aria-hidden='true')
          | Shopping Cart 
          span.sr-only (current)
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-user(aria-hidden='true') 
          | User Management
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
